openapi: 3.0.1
info:
  title: Plataforma de Ressarcimento do Open Banking Brasil
  description: APIs da plataforma de Ressarcimento do Open Banking Brasil para a comunicação
    online com a plaforma. Através da documentação das APIs abaixo é possível realizar
    os devidos testes de integração.
  termsOfService: http://https://ressarcimento.opbkdev.smartfylabs.com/terms/
  contact:
    name: Suporte ao Ressarcimento
    url: http://suporte.ressarcimento.openbankingbrasil.org.br
    email: suporte-ressarcimento@openbankingbrasil.org.br
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: beta-0.0.1
servers:
- url: https://ressarcimento.opbkdev.smartfylabs.com
  description: Server URL - Development Environment
paths:
  /apis/v1/refund/notifications/:
    post:
      tags:
      - Refund API V1
      summary: 'Operação de registro unitário de transação '
      description: Método da API de Reporte unitário de consumo de APIs do Open Banking
        Brasil. O sistema utilizará essas informações para conciliar e contabilizar
        os custos das plataformas dos participantes. <br> Para a utilização deste
        método é necessário gerar um Token de Acesso na plataforma central do Diretório
        do Open Banking Brasil.
      operationId: notification
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundNotification'
        required: true
      responses:
        "200":
          description: Registro recepcionado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundProcess'
        "400":
          description: Os dados informados da transação estão incorretos
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
    patch:
      tags:
      - Refund API V1
      summary: Operação de registro em massa de uma transação
      description: Método da API de Reporte de atualização em massa de APIs do Open
        Banking Brasil. O sistema utilizará essas informações para conciliar e contabilizar
        os custos das plataformas dos participantes. <br> Para a utilização deste
        método é necessário gerar um Token de Acesso na plataforma central do Diretório
        do Open Banking Brasil.
      operationId: notifications
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/RefundNotification'
        required: true
      responses:
        "200":
          description: Registro recepcionado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundProcess'
        "400":
          description: Os dados informados da transação estão incorretos
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
  /apis/v1/refund/notifications/{processId}:
    get:
      tags:
      - Refund API V1
      summary: Operação de consulta de processos de transações
      description: Método da API de Consulta de processos de transações de APIs do
        Open Banking Brasil. O sistema utilizará essas informações para consultar
        processos que podem ter uma ou mais transações dentro da plataformas dos participantes.
        <br> Para a utilização deste método é necessário gerar um Token de Acesso
        na plataforma central do Diretório do Open Banking Brasil.
      operationId: findNotificationById
      parameters:
      - name: processId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Consulta realizada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundProcess'
        "400":
          description: Os dados informados para consulta estão incorretos
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
  /apis/v1/refund/notifications/healthcheck:
    get:
      tags:
      - Refund API V1
      summary: Operação de consulta de monitoramento de processos de transações
      description: Método da API de Consulta de Monitoramento de processos de transações
        para verificar o status das APIs do Open Banking Brasil.O sistema utilizará
        essas informações para monitorar os processos e transações dentro das plataformas
        dos participantes. <br> Para a utilização deste método é necessário gerar
        um Token de Acesso na plataforma central do Diretório do Open Banking Brasil.
      operationId: healthcheck
      responses:
        "200":
          description: Consulta de Monitoramento realizado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundProcess'
        "400":
          description: Os dados informados para consulta de monitoramento estão incorretos
          content:
            application/json:
              schema:
                type: string
                x-content-type: application/json
components:
  schemas:
    RefundNotification:
      required:
      - clientId
      - payloadSize
      - processTimespan
      - receiverId
      - sessionToken
      - statusCode
      - timestamp
      - transmitterId
      - uri
      type: object
      properties:
        timestamp:
          type: string
        sessionToken:
          type: string
        clientId:
          type: string
        receiverId:
          type: string
        transmitterId:
          type: string
        uri:
          type: string
        statusCode:
          type: integer
          format: int32
        payloadSize:
          type: integer
          format: int64
        processTimespan:
          type: integer
          format: int64
    RefundProcess:
      type: object
      properties:
        processId:
          type: string
        status:
          type: string
          enum:
          - PENDING
          - IN_PROGRESS
          - PROCCESSED
      example:
        processId: processId
        status: PENDING
